* {
  margin: 0;
  padding: 0;
}

body {
  padding: 50px;
  text-align: center;
}

.wrapper {
  border: 2px solid blue;
  width: 60%;
  /* height: 500px; */
  margin: 30px auto;
}

.card {
  display: inline-block;
  width: 150px;
  height: 200px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform .8s;
  transform-style: preserve-3d;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front {
  text-align: center;
  line-height: 200px;
  color: white;
  background-color: gray;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-back {
  border: 2px solid black;
  background: top / cover no-repeat;
  transform: rotateY(180deg);
}