* {
  margin: 0;
  padding: 0;
}

body {
  padding-top: 150px;
  text-align: center;
  background-color: lightblue;
}

.wrapper {
  width: 60%;
  margin: 30px auto;
  border-radius: 20px;
  background-color: white;
}

.card {
  display: inline-block;
  width: 150px;
  height: 200px;
  margin: 30px 20px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform .8s;
  transform-style: preserve-3d;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front {
  text-align: center;
  line-height: 200px;
  color: white;
  background-color: lightpink;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-back {
  border: 2px solid white;
  background: top / cover no-repeat;
  transform: rotateY(180deg);
}